.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 100%;
  width: 100%;

  .zarzadzanie {
    height: 100%;
    width: 100%;

    .pizza_do_ulozenia {
      position: relative;
      width: 100%;
      height: 60%;
      justify-content: center;

      img {
        position: absolute;
      }

      .main_img {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        height: 100%;
        max-width: 100%;
        max-height: 50%;
      }
    }

    .skladniki {
      height: 40%;

      .pole_wyboru {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        justify-items: center;
        align-items: center;
        height: 40%;
        padding-top: 10px;
        padding-bottom: 20px;

        img {
          height: 100px;
        }
      }

      .przycisk_zatwierdzenia {
        width: 100%;
      }
    }
  }
  .lista {
    table {
      width: 100%;
    }
    tr {
      td {
        height: 100px;
        .obrazek_listy {
          max-height: 80px;
          width: auto;
          display: block;
          margin: 0 auto;
        }
      }
    }
    th {
      &:nth-child(1) {
        width: 60%;
      }
      &:nth-child(2) {
        width: 20%;
      }
      &:nth-child(3) {
        width: 20%;
      }
    }
  }
}

@media (max-width: 600px) {
  .lista {
    display: none;
  }
  .main {
    display: block;
  }
}
