.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 100%;
  width: 100%;

  .zarzadzanie {
    height: 100%;
    width: 100%;

    .pizza_do_ulozenia {
      position: relative;
      width: 100%;
      height: 60%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      container-type: size;

      .kontener_pizzy {
        position: relative;
        height: 100%;
        max-height: 50%;
        aspect-ratio: 2 / 1;

        .main_img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }

        .skladnik_animowany {
          position: absolute;
          transform-origin: center center;
          margin-left: -25px;
          margin-top: -25px;
          width: 50px;
          height: 50px;
          animation: spadanie 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
        }
      }
    }
    @keyframes spadanie {
      0% {
        transform: translateY(calc(-80cqh - var(--start-z))) scale(1.5) rotate(0deg);
        opacity: 0;
      }
      30% {
        opacity: 1;
      }
      100% {
        transform: translateY(0) scale(1) rotate(var(--rotacja));
        opacity: 1;
      }
    }

    .skladniki {
      height: 40%;

      .pole_wyboru {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        justify-items: center;
        align-items: center;
        height: 40%;
        padding-top: 10px;
        padding-bottom: 20px;

        img {
          height: 100px;
          position: relative;
          z-index: 1;
        }

        .boczny {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          cursor: pointer;

          .nakladka {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            display: flex;
            align-items: center;
            color: white;
            opacity: 0;
            transition: opacity 0.3s ease;
            z-index: 2;

            span {
              font-size: 2.5rem;
            }
          }

          &.lewy .nakladka {
            justify-content: flex-start;
            padding-left: 5px;
            background: linear-gradient(to left, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.6) 100%);
          }

          &.prawy .nakladka {
            justify-content: flex-end;
            padding-right: 5px;
            background: linear-gradient(to right, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.6) 100%);
          }

          &:hover .nakladka {
            opacity: 1;
          }
        }
      }

      .przycisk_zatwierdzenia {
        width: 100%;
      }
    }
  }
  .lista {
    table {
      width: 100%;
    }
    tr {
      td {
        height: 100px;
        .obrazek_listy {
          max-height: 80px;
          width: auto;
          display: block;
          margin: 0 auto;
        }

        .kontrolki_ilosci {
          display: flex;
          align-items: center;
          gap: 12px;

          .ilosc_tekst {
            font-size: 1.2rem;
            font-weight: 500;
            min-width: 20px;
            text-align: center;
          }
        }
      }
    }
    th {
      &:nth-child(1) {
        width: 60%;
      }
      &:nth-child(2) {
        width: 20%;
      }
      &:nth-child(3) {
        width: 20%;
      }
    }
  }
}

@media (max-width: 600px) {
  .lista {
    display: none;
  }
  .main {
    display: block;
  }

  .zarzadzanie .skladniki .pole_wyboru {
    .boczny .nakladka {
      opacity: 1;
    }
    .boczny.lewy .nakladka {
      background: linear-gradient(to left, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.4) 100%);
    }
    .boczny.prawy .nakladka {
      background: linear-gradient(to right, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.4) 100%);
    }
  }
}
