.pizza_do_ulozenia {
  position: relative;
  width: 100%;
  height: 60%;
}
.pizza_do_ulozenia img {
  position: absolute;
}
.main_img {
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 50%;
}
.skladniki {
  height: 40%;
}
.pole_wyboru {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  align-items: center;
  height: 40%;
  padding-top: 10px;
  padding-bottom: 20px;
}
.pole_wyboru img {
  height: 100px;
}
.przycisk_zatwierdzenia {
  width: 100%;
}
