@if (loading) {
  <div>Ładowanie menu...</div>
}
@if (!loading) {
  <div>
    <table class="menu">
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th class="centrum">24cm</th>
        <th class="centrum">32cm</th>
        <th class="centrum">42cm</th>
        <th class="centrum">60cm</th>
      </tr>
      @for (item of menu; track item.id) {
        <tr>
          <td><span class="tytul centrum">{{item.id}}.</span></td>
          <td class="centrum">
            <img [src]="item.obrazek_path">
          </td>
          <td class="lewy_full">
            <div class="nazwa_i_skladniki">
              <span class="tytul">{{ item.nazwa }}</span>
              <span class="skladniki">
                @for (skladnik of item.skladniki; track $index) {
                  {{skladnik}}{{$last ? '': ', '}}
                }
              </span>
            </div>
          </td>
          <td class="cena centrum">{{20 + (item.skladniki.length * 3)}},00</td>
          <td class="cena centrum">{{30 + (item.skladniki.length * 3)}},00</td>
          <td class="cena centrum">{{40 + (item.skladniki.length * 3)}},00</td>
          <td class="cena centrum">{{50 + (item.skladniki.length * 3)}},00</td>
        </tr>
      }
    </table>
  </div>
}
