/* --- RESET I PODSTAWA TABELI --- */
table.menu {
  width: 100%;
  border-collapse: collapse;
  table-layout:fixed;
  max-width: 100vw;
}

table.menu tr {
  height: 10vh; /* Sztywna wysokość */
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}

table.menu td,
table.menu th {
  padding: 10px;
  vertical-align: middle;
  box-sizing: border-box;
}

/* --- KOLUMNY 1, 3, 4, 5, 6 (Małe i na środku) --- */
table.menu th:nth-child(1), table.menu td:nth-child(1),
table.menu th:nth-child(3), table.menu td:nth-child(3),
table.menu th:nth-child(4), table.menu td:nth-child(4),
table.menu th:nth-child(5), table.menu td:nth-child(5),
table.menu th:nth-child(6), table.menu td:nth-child(6) {
  text-align: center;
  width: 10vw; /* Trik: ustawienie bardzo małej szerokości... */
  max-width: 80px;
  white-space: nowrap; /* ...plus zakaz łamania linii wymusza minimalną szerokość */
}

/* --- KOLUMNA 2 (Duża i do lewej) --- */

/* Styl dla nagłówka (th) */
table.menu th:nth-child(2) {
  text-align: left; /* Tekst nagłówka do lewej */
  width: auto;      /* Zajmuje resztę miejsca */
}

/* Styl dla komórki z danymi (td) - TU BYŁ PROBLEM */
table.menu td:nth-child(2) {
  width: auto;

  /* Flexbox settings */
  display: flex;
  align-items: center;          /* Wyrównanie w pionie: środek */
  justify-content: flex-start;  /* Wyrównanie w poziomie: DO LEWEJ (kluczowe!) */

  /* Ważne: Flexbox ignoruje wysokość komórki tabeli, więc musimy ją powtórzyć lub dziedziczyć */
  height: 10vh;

  /* Opcjonalnie: upewnij się, że padding nie przesuwa za mocno */
  padding-left: 10px;
}

/* --- OBRAZEK I TREŚĆ WEWNĄTRZ KOLUMNY 2 --- */

.wpasowanie_obrazka {
  /* Maksymalna wysokość = 10vh minus paddingi (10px góra + 10px dół) */
  max-height: calc(10vh - 20px);
  width: auto;
  object-fit: contain;
  margin-right: 15px; /* Odstęp obrazka od tekstu */
  margin-left: 0;     /* Upewnienie się, że nie ma marginesu z lewej */
  display: block;
}

.nazwa_i_skladniki {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left; /* Upewnienie się, że tekst wewnątrz diva też jest do lewej */
}

/* --- DODATKI --- */
.tytul {
  font-weight: bold;
}

.skladniki {
  font-size: 0.85em;
  color: #555;
}

.cena {
  font-weight: 600;
}
span {
  text-align: left;
}
.animacja {
  display: grid;
  grid-template-areas: "stack";
  align-items: center;
  justify-content: center;

}

.animacja > * {
  grid-area: stack;
  width: 100%;
}
