body {
  background: #dfdede;
}
.ekran_ladowania {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 450px;
  transform: translate(-50%, -50%);
}
.kawalek_pizzy {
  transform-origin: 50% 100%;
  position: absolute;
  top: 0; left: 25%;
  width: 50%;
  height: 50%;
}

.kawalek_pizzy img {
  width: 100%;
  height: 100%;
}
.kawalek_pizzy[data-index="0"] { transform: rotate(0deg); }
.kawalek_pizzy[data-index="1"] { transform: rotate(45deg); }
.kawalek_pizzy[data-index="2"] { transform: rotate(90deg); }
.kawalek_pizzy[data-index="3"] { transform: rotate(135deg); }
.kawalek_pizzy[data-index="4"] { transform: rotate(180deg); }
.kawalek_pizzy[data-index="5"] { transform: rotate(225deg); }
.kawalek_pizzy[data-index="6"] { transform: rotate(270deg); }
.kawalek_pizzy[data-index="7"] { transform: rotate(315deg); }
